header {
  background-color: yellow;
  text-align: left;
  font-size: 20px;
  font-family: monospace;
  text-transform: uppercase;
  width: 750px;
}

.right-section {
  float: right;
  width: 75%;
  background-color: white;
  color: black;
}

.contacts {
  display: flex;
}

.left-section {
  background-color: #404040;
  color: white;
  text-align: left;
  font-family: sans-serif;
  font-size: 15px;
  width: fit-content;
}
