<div class="contacts">
  <div class="left-section">
    <img alt="Profile" height="248" ngSrc="assets/ima.PNG" width="202">
    <h1>EDUCATION</h1>
    <hr color="yellow">
    @for (info of allInfo; track info) {
      <app-information [informationType]="info"
                       style="width: 100%"></app-information>
    }
    <h1>REFERENCE</h1>
    <hr color="yellow">
    <p>Sara Taylore</p>
    <p>Director Company Name</p>
    <p>Telephone: +012345678651</p>
    <hr>
    <div class="extraInfo">
      <p>Phone</p>
      <p>+059781625312</p>
      <p>Email</p>
      <p>urnamegmail</p>
      <p>website</p>
      <p>urWebsite</p>
      <p>Address</p>
      <p>urAddress</p>
    </div>
  </div>

  <div class="right-section">
    <header style="margin-top: 100px">
      <p><strong>K</strong>aren RICHARDS</p>
      <p>PROFESSIONAL TITLE</p>
    </header>
    <h2>About me</h2>
    <hr>
    <p>{{ aboutMeText }}</p>

    <h2>Work Experience</h2>
    <hr>
    <div style="display: flex; flex-wrap: wrap ">
      @for (workExperience of allWorks; track workExperience) {
        <app-works-experience [workExperience]="workExperience"
                              style="width: 100%"></app-works-experience>
      }
    </div>
    <h3>Software Skill</h3>
    <hr>
    <div style="display: flex; flex-wrap: wrap">
      @for (skill of allSkills; track skill) {
        <app-skill [skill]="skill"
                   style="width: 50%"></app-skill>
      }
    </div>
  </div>
</div>
