<!--<img src="">-->
<ul class = "contacts">
  <li>
    <h1>EDUCATION</h1>
    <hr color="yellow">
    <h1>ENTER YOUR MAJOR</h1>
    <p>Name of your university</p>
    <p>2005-2009</p>
    <h1>ENTER YOUR MAJOR</h1>
    <p>Name of your university</p>
    <p>2005-2009</p>
    <hr color="yellow">
    <p>Phone:</p>+972597876633</li>

  <li> <p>Email:</p> ramiwzayed</li>

  <li><p>website:</p>urwebsite.com</li>

  <li> <p>address:</p> Ramallah/PS</li>
</ul>
<header>
  <p><strong>KAREN</strong> RICHARDS</p>
  <p>PROFESSIONAL TITLE</p>
</header>


<h1>About me</h1>
<hr>
<p>Lorem Ipsum dolor sit amet , consectetur adipiscing elit,sed do euusmod empor incididunt ut labore et dolore magna alique.</p>

<h2>Work Experience</h2>
<hr>
<ul>
  <li>2012-2014
    <p>Job Postion here </p></li>
  <li>2014-2017<p>Job Postion Here</p></li>
  <li>2017-Present<p>Job Postion Here</p></li>
</ul>



<h3>Software Skill</h3>
<hr>
<p>Adobe photoshop</p>
<p>Adobe lilustrator</p>
<p>Adobe Indesign</p>
<p>Microsoft Word</p>
<p>Microsoft PowerPoint</p>
