header {
  margin-top: 100px;
  background-color: yellow;
  text-align: left;
  font-size: 20px;
  font-family: monospace;
  text-transform: uppercase;
  gap: 10px;
  width: 2000px;
  height: 150px;
  margin: 20px;
}

h1 {
  background-color: #404040;
  font-size: 20px;
  font-family: sans-serif;
  width: fit-content;
}

h2, h3 {
  font-family: sans-serif;
  width: fit-content;
  font-size: 20px;
  text-align: left;
  background-color: white;
}

.contacts {
  background-color: #404040;
  color: white;
  list-style: none;
  width: fit-content;
}

ul {
  color: black;
  width: fit-content;
}

p {
  width: fit-content;
  margin: 0;
}


/*.two-colored-line {*/
/*  width: 50%;*/
/*  background-color: red;*/

/*}*/


.right-section {
  float: right;
  width: 75%;
}


.left-section {
  float: left;
  width: fit-content(250px);
  background-color: #404040;
}

p {
  margin: 10px;
}
